@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Poppins;
  src: url("/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;  
}
@font-face {
  font-family: Poppins;
  src: url("/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: Poppins;
  src: url("/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: Poppins;
  src: url("/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Poppins;
  src: url("/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@layer base {
  ol {
    @apply list-decimal list-inside marker:font-bold marker:text-gold-accent;
  }
  * {
    @apply font-default font-normal;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 { 
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }
}