---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.svelte";
import Default from "../layouts/Default.astro";
import "../styles/globals.css";
---

<Default
  title="Lcctanauan - The Premiere Catholic Educational Institution in Tanauan, Batangas"
>
  <h1>Page not found 😢</h1>
</Default>
