---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Default from "../layouts/Default.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body>
		<Navbar/>
		<Default>
			<h1>Hello, world</h1>
		</Default>
		<Footer/>
	</body>
</html>
