---
import "../styles/globals.css";
import logo from "../assets/logo.svg";
import HomeNavbar from "../components/HomeNavbar.svelte";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Lcctanauan - The Premiere Catholic Educational Institution in Tanauan,
      Batangas
    </title>
    <link rel="shortcut icon" href={logo} type="image/x-icon" />
  </head>
  <body>
    <HomeNavbar client:load />
  </body>
</html>
<!-- <div class="">
			<div class="">
				<h1 class="">
					The <span class="">Premiere Catholic Educational Institution</span> in Tanauan,
					Batangas
				</h1>
			</div>
		</div>
		<div class="">
			<div class="">

				<h2 class="">Unified La Consolacion
					College South Luzon
				</h2>
			</div>
		</div>
		<h2 class="">About us</h2>
		<div class="">
			<Card type={"vision"}>
				ULCC-SL Vision as a Catholic Augustinian Marian Educational System, commits itself to holistic formation of the
				21st century learners.
			</Card>
			<Card type={"mission"}>
				As we nurture a system of ASOLC unified learning communities in Laguna and Batangas, we assume the
				responsibilities of:
				<ol>
					<li>Providing innovative and transformative education for lifelong learning</li>
					<li>Creating sustainable community involvement and extension programs, and</li>
					<li>
						Utilizing functional research projects for the development of ULCC-SL campuses, industry, educational
						pedagogies, and communities.</li>
				</ol>
			</Card>
			<Card type={"Core values"}>
				<div class="">
					<span class="">U</span> - Unity in Truth <br />
					<span class="">L</span> - Loyalty<br />
					<span class="">C</span> - Compassion<br />
					<span class="">C</span> - Committed to Competence<br />
					<span class="">S</span> - Service to God and Country<br />
					<span class="">L</span> - Love of Creation<br />
				</div>
			</Card>
		</div> -->
