---
import Btn from "./Btn.astro";

const { type } = Astro.props;
---

<section class="">
  <div>
    <div class="text-2xl font-semibold flex my-2 items-center gap-2">
      {type.toLowerCase() === "vision" ? <svg class="w-12 h-12" viewBox="0 0 48 48" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M48 24C48 24 39 7.5 24 7.5C9 7.5 0 24 0 24C0 24 9 40.5 24 40.5C39 40.5 48 24 48 24ZM3.5181 24C3.68888 23.7396 3.88362 23.4503 4.10182 23.1373C5.10648 21.6958 6.58893 19.7787 8.49632 17.8713C12.3631 14.0045 17.6419 10.5 24 10.5C30.3581 10.5 35.6369 14.0045 39.5037 17.8713C41.4111 19.7787 42.8935 21.6958 43.8982 23.1373C44.1164 23.4503 44.3111 23.7396 44.4819 24C44.3111 24.2604 44.1164 24.5497 43.8982 24.8627C42.8935 26.3042 41.4111 28.2213 39.5037 30.1287C35.6369 33.9955 30.3581 37.5 24 37.5C17.6419 37.5 12.3631 33.9955 8.49632 30.1287C6.58893 28.2213 5.10648 26.3042 4.10182 24.8627C3.88362 24.5497 3.68888 24.2604 3.5181 24Z"
          fill="#B07D0E" />
        <path
          d="M24 16.5C19.8579 16.5 16.5 19.8579 16.5 24C16.5 28.1421 19.8579 31.5 24 31.5C28.1421 31.5 31.5 28.1421 31.5 24C31.5 19.8579 28.1421 16.5 24 16.5ZM13.5 24C13.5 18.201 18.201 13.5 24 13.5C29.799 13.5 34.5 18.201 34.5 24C34.5 29.799 29.799 34.5 24 34.5C18.201 34.5 13.5 29.799 13.5 24Z"
          fill="#B07D0E" />
      </svg>
      : type.toLowerCase() === "mission" ? <svg class="w-12 h-12" viewBox="0 0 48 48" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_78_17)">
          <path
            d="M36.8787 16.4769L34.8042 18.5514C35.7775 20.3417 36.3317 22.3807 36.3317 24.5546C36.3317 31.4744 30.6978 37.1082 23.7781 37.1082C16.8583 37.1082 11.2244 31.4744 11.2244 24.5546C11.2244 17.6348 16.8583 12.001 23.7781 12.001C25.952 12.001 27.991 12.5551 29.7812 13.5284L31.8558 11.4539C29.5042 9.99751 26.7405 9.15918 23.778 9.15918C15.2881 9.15918 8.38253 16.0647 8.38253 24.5546C8.38253 33.0445 15.2882 39.9501 23.7781 39.9501C32.2679 39.9501 39.1735 33.0446 39.1735 24.5548C39.1735 21.5922 38.335 18.8286 36.8787 16.4769ZM31.117 22.2459L28.6233 24.7325C28.531 27.3327 26.3997 29.4071 23.7782 29.4071C21.0998 29.4071 18.9258 27.2332 18.9258 24.5548C18.9258 21.9333 21.0003 19.8019 23.6005 19.7097L26.0942 17.2231C25.3625 16.9886 24.5881 16.8608 23.7783 16.8608C19.5369 16.8608 16.0841 20.3135 16.0841 24.5549C16.0841 28.7963 19.5369 32.2492 23.7783 32.2492C28.0196 32.2492 31.4724 28.7963 31.4724 24.5549C31.4722 23.7519 31.3514 22.9705 31.117 22.2459ZM43.8765 12.4985L41.8021 14.573C43.4433 17.5285 44.3811 20.9315 44.3811 24.5548C44.3811 35.9149 35.1381 45.1579 23.7781 45.1579C12.418 45.1579 3.17505 35.9149 3.17505 24.5547C3.17505 13.1946 12.418 3.9517 23.7781 3.9517C27.4013 3.9517 30.8043 4.88949 33.7599 6.53063L35.8344 4.45612C32.3104 2.33198 28.1828 1.11001 23.7781 1.11001C10.8479 1.11001 0.333252 11.6246 0.333252 24.5547C0.333252 37.4848 10.8479 47.9995 23.7781 47.9995C36.7082 47.9995 47.2229 37.4848 47.2229 24.5547C47.2229 20.15 46.0009 16.0223 43.8765 12.4985ZM40.7976 12.5589L38.085 12.2577L24.7216 25.6206C24.1667 26.1755 23.2673 26.1755 22.7124 25.6206C22.1575 25.0656 22.1575 24.1663 22.7124 23.6114L36.0752 10.2485L35.774 7.53601L43.3098 0.000244141L44.3143 4.01929L48.3333 5.02385L40.7976 12.5589Z"
            fill="#B07D0E" />
        </g>
        <defs>
          <clipPath id="clip0_78_17">
            <rect width="48" height="48" fill="white" transform="translate(0.333252)" />
          </clipPath>
        </defs>
      </svg> : <svg class="w-12 h-12" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M9.9665 2.1C10.2498 1.72229 10.6944 1.5 11.1665 1.5H38.1665C38.639 1.5 39.0838 1.7226 39.3671 2.10075L48.2954 14.0208C48.7413 14.5759 48.7626 15.3719 48.3267 15.953L25.8665 45.9C25.5832 46.2777 25.1386 46.5 24.6665 46.5C24.1944 46.5 23.7498 46.2777 23.4665 45.9L0.966504 15.9C0.566504 15.3667 0.566504 14.6333 0.966504 14.1L9.9665 2.1ZM44.1243 13.4562L38.7062 6.22267L36.3786 13.4643L44.1243 13.4562ZM33.2263 13.4676L36.1088 4.5H13.2242L16.1124 13.4855L33.2263 13.4676ZM17.0764 16.4845L24.6665 40.0982L32.2617 16.4686L17.0764 16.4845ZM12.9623 13.4887L10.6261 6.22054L5.16885 13.4969L12.9623 13.4887ZM5.16416 16.4969L20.503 36.9486L13.9263 16.4877L5.16416 16.4969ZM28.83 36.9486L44.1994 16.4562L35.4139 16.4653L28.83 36.9486Z"
          fill="#B07D0E" />
      </svg>
      }
      {type.toUpperCase()}
    </div>
  </div>
  <slot></slot>
  <Btn />
</section>