---
import { Image } from "@astrojs/image/components";
import Fly from "./Fly.svelte";
export type Props = {
  imageMeta: ImageMetadata;
  fit: boolean;
  alt: string;
  reverse: boolean;
};

const { imageMeta, fit, alt, reverse } = Astro.props;
---

<div class="flex gap-x-16 p-10 h-max">
  <div class={`flex-1 ${reverse ? "order-2" : ""}`}>
    <Fly
      options={{
        duration: 800,
        x: reverse ? 200 : -200,
      }}
      client:load
    >
      <Image
        src={imageMeta.src}
        width={imageMeta.width}
        aspectRatio={imageMeta.width / imageMeta.height}
        alt={alt}
        class="rounded-lg"
      />
    </Fly>
  </div>
  <div class="flex-1 flex flex-col justify-center">
    <Fly
      options={{
        duration: 800,
        x: reverse ? -200 : 200,
      }}
      client:load
    >
      <div>
        <slot />
        <button>Learn more</button>
      </div>
    </Fly>
  </div>
</div>
