---
import { Image } from "@astrojs/image/components";
import ScaleInView from "./ScaleInView.svelte";
export type Props = {
  imageMeta: ImageMetadata;
  fit: boolean;
  alt: string;
  reverse: boolean;
};

const { imageMeta, fit, alt, reverse } = Astro.props;
---

<div class="flex gap-x-16 p-10 h-max">
  <div class={`flex-1 ${reverse ? "order-2" : ""}`}>
    <ScaleInView delay={300} client:load>
      <Image
        src={imageMeta.src}
        width={imageMeta.width}
        aspectRatio={imageMeta.width / imageMeta.height}
        alt={alt}
        class="rounded-lg"
      />
    </ScaleInView>
  </div>
  <div class="flex-1 flex flex-col justify-center">
    <ScaleInView client:load>
      <div>
        <slot />
        <button>Learn more</button>
      </div>
    </ScaleInView>
  </div>
</div>
